<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoting-Homepage</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <header>
        <div class="row">
            <div class="column1">
                <img src="../assets/images/logo.png" class="headimg">

            </div>
            <div class="column2">
                <ul style="width: auto;">
                    <li><a href="../index.html">Home</a></li>
                    <li>About us</li>
                    <li> <a href="./registeration.html">Registeration</a></li>
                    <li><a href="./help.html">Help</a></li>
                    <li><a href="./contact us.html">Contact us</a></li>
                    <li><a href="./termof use.html">Term of Use</a></li>
                </ul>

            </div>
        </div>

    </header>

    <section class="aboutsection">
        <h1 style="margin: 355px 176px;font-size: 61px;"> <u>About </u> us</h1>
    </section>


    <article class="middle">
        <div class="midleft">
            <img src="../assets/images/evoting6.jpg" style="width: 90%; padding: 49px 0 0 3px;">

        </div>
        <div class="middleright">

            <p>We are at Linkstar Infosys Private Limited (LIPL), committed to provide the E-voting service as mandate under Insolvency & Bankruptcy Code, 2016 for electronic voting on various resolutions to be voted upon by the members of Committee of Creditors.
                LIPL was set up with an aim to provide convenient, dependable and secure electronic voting services at affordable cost to all Insolvency Professionals. Additionally the e-Voting system developed by LIPL is also ISO 27001 certified.</p>
        </div>
    </article>

    <!-- style="width: 35em;margin: 77px;" -->


    <footer class="center">

        <a href="  ">CopyRight Policy</a>
        <a href="  ">Privacy Policy</a>
        <a href="  ">Sitemap</a>
        <p>Site Last Updated on : July 30,2020</p>
        <p>Best viewed in IE & above. Resolution 1024 x 768 pixels or higher.</p>
        <p> &copy; Copyright 2018. All rights reserved with Linkstar Infosys Private Limited</p>

    </footer>


</body>

</html>