<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoting-Homepage</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <header>
        <div class="row">
            <div class="column1">
                <img src="../assets/images/logo.png" class="headimg">

            </div>
            <div class="column2">
                <ul style="width: auto;">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About us</a></li>
                    <li> <a href="./registeration.html">Registeration</a></li>
                    <li><a href="./help.html">Help</a></li>
                    <li>Contact us</li>
                    <li><a href="./termof use.html">Term of Use</a></li>
                </ul>

            </div>
        </div>

    </header>


    <section class="aboutsection">
        <h1 style="margin: 355px 176px;font-size: 61px;"> <u>Contact </u>us</h1>
    </section>




    <div class="contactus">

        <h1> Linkstar Infosys Private Limited,</h1>
        <p>9-C, Vardan Complex, Near Vimal House,</p>
        <p> Lakhudi Circle, Navrangpura, Ahmedabad-380014 </p>
        <p>Email: info@evotingforibc.com </p>
        <p>Tel:079-26566588</p>
        <h3>E-Voting Information/Help Timings</h3>
        <p>Monday – Saturday: 10:30 AM to 6.30 PM</p>
        <p> To avail the E-voting service / Query / Feedback please mail us at info@evotingforibc.com or contact on 079-26566588</p>
        <h3> Direct Contact</h3>
        <p>For availing the E-voting service: Mr. Jinesh Jariwala (+91-9537046315)</p>

        <p> For any technical assistant / query: Mr. Dixit prajapati (+91-7874138237)</p>

    </div>

    <div class="feedmed">
        <div>
            <img src="../assets/images/evoting5.jpg" class="imagefeed">
        </div>
        <article class="feedbox">
            <div>
                <h1 class="title"> Feedback</h1>
                <form style=" text-align: center;">

                    <label for="First Name" style="font-size: large;">Name</label>
                    <input class="textarea" type="text" id="Fname" name="Fname" placeholder="name" style="font-size: large;"><br><br>
                    <label for="First Name" style="font-size: large;">Email id</label>
                    <input class="textarea" type="text" id="email" name="email" placeholder="email id" style="font-size: large;"><br><br>
                    <label for="First Name" style="font-size: large;">Mobile No.</label>
                    <input class="textarea" type="text" maxlength="10" id="Mobile No." name="Mobile No." placeholder="mobile No." style="font-size: large;"> <br><br>
                    <label for="First Name" style="font-size: large;">Comment</label>

                    <textarea style="outline:none;width: 231px;margin: 0 0 0 79px;border-radius: 9px;"></textarea>
                    <p style="font-size: large;margin: 23px 0px 0px 164px;"><b>Maximum character: 500</b></p>
                    <button type="button" onclick="alert('Thank you for giving valuable feedback')" class="button"><img src="../assets/images/submit.png" style=" width: 40px;
                        height: 26px;
                        vertical-align: middle">Submit
                        </button>
                </form>
            </div>

        </article>

    </div>

    <footer class="center">

        <a href="  ">CopyRight Policy</a>
        <a href="  ">Privacy Policy</a>
        <a href="  ">Sitemap</a>
        <p>Site Last Updated on : July 30,2020</p>
        <p>Best viewed in IE & above. Resolution 1024 x 768 pixels or higher.</p>
        <p> &copy; Copyright 2018. All rights reserved with Linkstar Infosys Private Limited</p>

    </footer>


</body>

</html>