<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoting-Homepage</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <header>
        <div class="row">
            <div class="column1">
                <img src="../assets/images/logo.png" class="headimg">

            </div>
            <div class="column2">
                <ul style="width: auto;">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About us</a></li>
                    <li> <a href="./registeration.html">Registeration</a></li>
                    <li>Help</li>
                    <li><a href="./contact us.html">Contact us</a></li>
                    <li><a href="./termof use.html">Term of Use</a></li>
                </ul>

            </div>
        </div>

    </header>


    <section class="aboutsection">
        <h1 style="margin: 355px 176px;font-size: 61px;"> <u>Help</u>
        </h1>
    </section>


    <div class="disclaimer">
        <h1>User Manual</h1>
        <table>
            <tr>
                <th>File name</th>
                <th>Size</th>
                <th>Date</th>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://www.evotingforibc.com/helpdocs/Entity_Registration.pdf" target="__blank">Manual For Entity Registeration.pdf</a></button></td>
                <td>559 KB</td>
                <td>11/08/2018</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://www.evotingforibc.com/helpdocs/Scrutinizer_Registration.pdf">User Manual For Scrutiniser Registeration.pdf</a></button></td>
                <td>656 KB</td>
                <td>11/08/2018</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://www.evotingforibc.com/helpdocs/Scrutinizer_Formalities.pdf">User Manual For Scrutiniser Formalities.pdf</a></b0utton></td>
                <td>2260 KB</td>
                <td>11/08/2018</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://www.evotingforibc.com/helpdocs/User_Manual_for_AR_Registration.pdf">User Manual For AR Registeration.pdf</a></button></td>
                <td>798 KB</td>
                <td>14/06/2019</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://www.evotingforibc.com/helpdocs/User_Manual_for_AR_Formality.pdf">User Manual For AR Formality.pdf</a> </button>
                </td>
                <td>3541 KB</td>
                <td>14/06/2019</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://www.evotingforibc.com/helpdocs/E-voting_formalities_by_Members.pdf"> Manual For Member Formalities.pdf</a>
                    </button>
                </td>
                <td>1,170 KB</td>
                <td>14/06/2018</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://www.evotingforibc.com/helpdocs/E-voting Agreement.docx">E-voting Agreement.docx</a></button>
                </td>
                <td>133 KB</td>
                <td>29/08/2018</td>
            </tr>
        </table>
        <h1>User Manual Videos</h1>
        <table>
            <tr>
                <th>File name</th>

                <th>Date</th>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://drive.google.com/file/d/1EcGeBH2i4D70rOCs9rJzhM0tSZk_34F8/view" >Entity Registeration</a></button></td>

                <td>11/08/2018</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://drive.google.com/file/d/1u675yhMUazAlZsS3zn6NaXS4ghO3WVfw/view"> Scrutiniser Registeration</a></button></td>

                <td>11/08/2018</td>
            </tr>
            <tr>
                <td><button type="button" class="btnlink"><a href="https://drive.google.com/file/d/12kAnIhGPmh88Wtr3034GZaTH6vTCytEf/view"> Scrutiniser Formalities</a></b0utton></td>
                
                <td>11/08/2018</td>
            </tr> 
        </table>
        <div class="adobebtn">Download Acobat Reader<a href="https://get.adobe.com/uk/reader/"><img src="../assets/images/adobe.png" width="18rem" height="5rem" 
        style="width: 20rem;height: 5rem;">
    </a>
    </div>

    </div>




    <footer class="center">

        <a href="  ">CopyRight Policy</a>
        <a href="  ">Privacy Policy</a>
        <a href="  ">Sitemap</a>
        <p>Site Last Updated on : July 30,2020</p>
        <p>Best viewed in IE & above. Resolution 1024 x 768 pixels or higher.</p>
        <p> &copy; Copyright 2018. All rights reserved with Linkstar Infosys Private Limited</p>

    </footer>


</body>

</html>