<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoting-registeration page</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <header>
        <div class="row">
            <div class="column1">
                <img src="../assets/images/logo.png" class="headimg">

            </div>
            <div class="column2">
                <ul style="width: auto;">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About us</a></li>
                    <li> Registeration</li>
                    <li><a href="./help.html">Help</a></li>
                    <li><a href="./contact us.html">Contact us</a></li>
                    <li><a href="./termof use.html">Term of Use</a></li>
                </ul>

            </div>
        </div>

    </header>

    <div class="outside">
        <div class="container5">
            <b> Registeration</b>
        </div>
        <div class="inside">

            <p style="padding: 5px 0 0 23px;"> Please enter following details for Entity/Scrutinizer Registerarion. </p>
            <div style="display: flex;">
                <p style=" margin-left: 21px;"><b>Type of Registeration*</b> </p>
                <div style="vertical-align: middle;     margin-inline: 160px;">
                    </p><input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">Company / Entity </label>
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">Scrutinizer  </label>
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">AR </label> <br><br>
                </div>
            </div>
            <br>
            <div style="background-color: rgba(228, 232, 235, 0.884);
                height: 46px;
                width: 732px;
                font-size: 20px;
                padding: 10px 1px 1px 14px; ">
                <B>Details of the Entity/ Company </B>
            </div>
            <br><br>

            <fieldset style="border: none; text-align: center;">
                <div class="entity-details">
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Name of the Entity</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Enter the Name" style="font-size: large;"><br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">PAN</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="PAN" style="font-size: large;"><br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Reg. NO / CIN</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="REG. NO / CIN" style="font-size: large;"> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">GST No.</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="GST NUMBER" style="font-size: large;"><br><br>
                    </div>
                </div>


                <h3>Registered Office Address</h3>
                <hr style=" width: 219px; margin-left: -2px; margin-top: -14px;"> <br>

                <div class="entity-details">
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Line 1</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Address Line 1" style="font-size: large;"> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Line 2</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Address Line 2" style="font-size: large;"> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Line3</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Address Line 2" style="font-size: large;"> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">City/Town</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="City/Town" style="font-size: large;"> <br><br>
                    </div>
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Pin Code</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Pin Code" style="font-size: large;"> <br><br>
                    </div>
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">State</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="State" style="font-size: large;"> <br><br>
                    </div>
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Country</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Country" style="font-size: large;"> <br><br>
                    </div>

                </div>



                <label for="Address" style="font-size: 23px ;"> Is correspondance address the same as Registered Office address</label>
                <input type="checkbox" id="Address" name="Same Address" value="Address" style="   margin-left: 126px;zoom: 1.5;">

                <br><br>
                <h3>Correspondance Address</h3>
                <hr style=" width: 219px; margin-left: -2px; margin-top: -14px;"> <br>
                <div class="entity-details">
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Line 1</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Address Line 1" style="font-size: large;"> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Line 2</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Address Line 2" style="font-size: large;"> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Line3</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Address Line 2" style="font-size: large;"> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">City/Town</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="City/Town" style="font-size: large;"> <br><br>
                    </div>
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Pin Code</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Pin Code" style="font-size: large;"> <br><br>
                    </div>
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">State</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="State" style="font-size: large;"> <br><br>
                    </div>
                    <div class="field-group">
                        <label for="First Name" style="font-size: large;">Country</label>
                        <input class="textarea" type="text" id="Fname" name="Fname" placeholder="Country" style="font-size: large;"> <br><br>
                    </div>

                </div>

                <br><br>
                <div style="background-color: rgba(228, 232, 235, 0.884);
                  
                         height: 46px;
                         width: 711px;
                         font-size: 20px;
                         padding: 10px 1px 1px 14px;
                         text-align: left; margin-left: -14px;">
                    <B>Authorised person / Contact Person </B> </div> <br>
                <div class="entity-details">
                    <div class="field-group">
                        <br><label for=" First Name " style="font-size: large; ">Name</label>
                        <input class="textarea " type="text " id="Fname " name="Fname " placeholder="Name " style="font-size: large; "> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name " style="font-size: large; ">Email id</label>
                        <input class="textarea " type="text " id="Fname " name="Fname " placeholder="email id " style="font-size: large; "> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name " style="font-size: large; ">Alternate Email id</label>
                        <input class="textarea " type="text " id="Fname " name="Fname " placeholder="alternate Email id " style="font-size: large; "> <br><br>
                    </div>

                    <div class="field-group">
                        <label for="First Name " style="font-size: large; ">Telephone Number</label>
                        <input class="textarea " type="text " id="Fname " name="Fname " placeholder="Telephone Number " style="font-size: large; "> <br><br>
                    </div>
                    <div class="field-group">
                        <label for="First Name " style="font-size: large; ">Mobile Number</label>
                        <input class="textarea " type="text " id="Fname " name="Fname " placeholder="Mobile Number " style="font-size: large; "><br>
                    </div>


                </div>




                <button type="button" onclick="alert('Your details are registered successfully ')" class="button"><img src="../assets/images/submit.png" style=" width: 40px;
                    height: 26px;
                    vertical-align: middle">Submit
                    </button> </fieldset>
        </div>
    </div>

    <footer class="center">

        <a href="  ">CopyRight Policy</a>
        <a href="  ">Privacy Policy</a>
        <a href="  ">Sitemap</a>
        <p>Site Last Updated on : July 30,2020</p>
        <p>Best viewed in IE & above. Resolution 1024 x 768 pixels or higher.</p>
        <p> &copy; Copyright 2018. All rights reserved with Linkstar Infosys Private Limited</p>

    </footer>

</body>

</html>