<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoting-Homepage</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <header>
        <div class="row">
            <div class="column1">
                <img src="../assets/images/logo.png" class="headimg">

            </div>
            <div class="column2">
                <ul style="width: auto;">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About us</a></li>
                    <li> <a href="./registeration.html">Registeration</a></li>
                    <li><a href="./help.html">Help</a></li>
                    <li><a href="./contact us.html">Contact us</a></li>
                    <li>Term of Use</li>
                </ul>

            </div>
        </div>

    </header>


    <section class="aboutsection">
        <h1 style="margin: 355px 176px;font-size: 61px;"> <u>Term</u> of use
        </h1>
    </section>


    <div class="disclaimer">
        <h1>Disclaimer</h1>
        <p> LIPL maintains its website www.evotingforibc.com ("the Site") to provide information about LIPL’s services. Access to the information provided on the site is not intended to, and shall not be construed as creating any privicy of contract between
            LIPL and any person availing of, or acting upon, any information available on this Site.</p>
        <p> In any event, and without prejudice to the foregoing, any person who accesses information of any nature from the site ("User") shall be deemed to do so only on the terms and conditions set out herein below.</p>
        <ul>
            <li> The access to informationon the site is provided for informational purpose only on "as is" basis without warranty or condition of any kind, expressed or implied, and all such warranties or conditions are hereby disclaimed.</li>
            <li> LIPL may, at any time, and from time to time, revise the content, display or functionality of the site as it deems necessary and consequently any or all information may be changed, removed or updated without prior notice. LIPL does not guarantee
                continuous availability of any data or information or any type of data or information on the site.</li>
            <li> Disruptions to the site may occur from time to time inter alia as a consequence of the need to revise its content, display or functionality, or for other related and/or unrelated reasons. Whilst LIPL does try to keep disruptions to the site
                to the bare minimum, LIPL does not guarantee that this site will be available or accessible at all times.</li>
        </ul>

    </div>



    <footer class="center">

        <a href="  ">CopyRight Policy</a>
        <a href="  ">Privacy Policy</a>
        <a href="  ">Sitemap</a>
        <p>Site Last Updated on : July 30,2020</p>
        <p>Best viewed in IE & above. Resolution 1024 x 768 pixels or higher.</p>
        <p> &copy; Copyright 2018. All rights reserved with Linkstar Infosys Private Limited</p>

    </footer>


</body>

</html>